*{
    margin: 0;
    padding: 0;
}

.sidebar{

    position: fixed;
    background-color:white;
    position: fixed;
    left: 0;
    width: 150px;
    height: 100%;
}

.sidebar h2{
    padding-left: 40px;
    padding-top: 60px;
    margin-top: 70px;
    color: black;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
}
.sidebar ul li{
    color: gray;
    display: list-item;
    width: 100%;
    line-height: 60px;
    text-decoration:none;
    padding-left: 40px;
    box-sizing: content-box;
    transition: 0.5ms;
}

.sidebar ul li del{
    color: red;
    text-decoration: line-through;
}

.sidebar ul li:hover{
    background: coral;
}

.sidebar button{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 60px;
    border-radius: 30px 30px 30px 30px;
    color: white;
    background-color: tomato;

}


.body {
    margin-left: 150px;
    padding-top: 130px;

}


.col-4 h1{
    position: absolute;
    text-align: center;
    padding-top: 100px;
    padding-left: 180px;
    text-align: left;
}



.col-8 p{
    position: absolute;
    text-align: left;
    color: gray;
    font-size: 12px;
    right: 0;
    top: 0;
    width: 150px;
    padding-right: 50px;
    padding-top: 100px;
    margin-left: 200;
    
}

.col-8 .line{
    width: 50px;
    height: 47px;
    border-bottom: 2px solid red;
   position: relative;
   left: 1334px;
   top: -395px;
}

.col-4 .box-container{
    padding-top: 350px;
    display: flex;
    padding-left: 200px;
    gap: 1rem;
    border-radius: 50%;
}
.col-4 .box-container .box {
    
    background: white;
    box-shadow: 5px 10px 18px #888888;
    border: .1rem solid rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.col-4 .box-container .box img{
    height: 6rem;
    margin: 1rem 1rem;
    border-radius: 50%;
}

.col-4 .box-container .box h3{
    color: black;
    font-size: 2.5rem;
}